@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular-webfont.svg#ubunturegular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: 900;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h2, h6 {
  margin: 0; }

.wrapper {
  height: 100%;
  width: 100%; }

.content {
  height: 100%;
  position: relative; }

.section {
  height: 100%;
  min-height: 40.625rem;
  position: relative;
  overflow: hidden; }

.container {
  max-width: 60rem;
  min-width: 18.75rem;
  width: 100%;
  margin: 0 auto; }

.btn-orange {
  background-color: #e25028;
  text-decoration: none;
  font-size: 0.8125rem;
  color: #fff;
  width: 97px;
  display: inline-block;
  text-align: center;
  height: 37px;
  line-height: 37px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .btn-orange:hover {
    background-color: #ff3300; }

.title-h2 {
  font-size: 4.5rem;
  font-family: "Gagalin", sans-serif;
  font-weight: 500; }

.title-h6 {
  font-size: 4.0625rem;
  font-family: "Lifehack", sans-serif;
  font-weight: 500;
  color: #fff;
  line-height: 3.75rem; }

.scroll-nav {
  position: fixed;
  top: 97px;
  right: 63px;
  z-index: 10;
  height: 160px; }

.scroll-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.scroll-nav__link {
  display: block;
  position: relative;
  width: 16px;
  height: 16px; }

.scroll-nav__link::before {
  content: "";
  width: 0;
  height: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0; }

.scroll-nav__link::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.scroll-nav__item.active .scroll-nav__link::before {
  width: 17px;
  height: 17px;
  opacity: 1; }

.hello {
  background-image: url("../img/bg/hello_bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  outline: 0 solid blue; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  outline: 0 solid blue; }

.header__logo {
  margin-right: 12.5rem; }

.header__nav {
  margin-right: 0.9375rem; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__list .header__item {
    white-space: nowrap;
    outline: 0 solid red; }
    .header__list .header__item:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      background-color: #fff;
      margin: 0 12px; }
    .header__list .header__item:last-child:after {
      display: none; }
  .header__list .header__item-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8125rem;
    text-decoration: none;
    line-height: 3.42;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700; }
    .header__list .header__item-link:hover {
      text-decoration: underline; }

.hello__content {
  outline: 0 solid yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hello__content-img, .hello__content-text {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.hello__content-img {
  width: 451px;
  height: 424px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  outline: 0 solid red; }
  .hello__content-img .hello__content-pik {
    position: absolute;
    left: -9999px; }

.hello__content-text {
  outline: 0 solid yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40px; }

.title-h2--hello {
  color: #f9b43b;
  margin-bottom: 15px; }

.hello__arrow-down {
  position: absolute;
  outline: 0 solid yellow;
  width: 30px;
  height: 16px;
  bottom: 40px;
  left: calc(50% - 15px);
  background-image: url(/img/content/hello/arrow-scroll.png);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer; }

.best {
  background-image: url("../img/bg/best_bg.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  outline: 0 solid green; }

.title-h2--best {
  margin-bottom: 56px; }

.best__item-pik {
  width: 105px;
  height: 90px;
  outline: 0 solid green; }
  .best__item-pik.best__item--meat {
    fill: #e25028; }
  .best__item-pik.best__item--hand {
    fill: #f8b43a; }
  .best__item-pik.best__item--natural {
    fill: #8ac03e; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.best__item {
  outline: 0 solid blue;
  padding: 0 5px;
  margin-right: 20px; }
  .best__item:last-child {
    margin-right: 0; }

.best__item-svg {
  margin-bottom: 36px; }

.best__item-title {
  margin-bottom: 30px;
  font-family: "Lifehack", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #2f3234; }

.best__desc {
  font-size: 14px;
  font-weight: 300;
  color: #2f3234;
  opacity: 0.8; }

.review__list {
  height: 100%;
  width: 100%;
  outline: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review__item {
  width: 25%;
  height: 50%;
  position: relative; }
  .review__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .review__item:hover:after {
    background-color: rgba(47, 50, 52, 0.4); }
  .review__item:hover .review__content {
    opacity: 1; }

.review__image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .review__image .review__image-pik {
    position: absolute;
    left: -9999px; }

.review__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 3; }

.review__detail {
  display: block;
  background-color: #2f3234;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 8px; }
  .review__detail:hover {
    background-color: #1d1f20; }
